.name-dichvu {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .scroll-container {
    max-height: 200px;
  }
  
  .custom-card {
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .custom-card:hover {
    transform: translateY(-5px);
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .scroll-button.left {
    left: 0;
  }
  
  .scroll-button.right {
    right: 0;
  }
  
  .scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  